<html>
<header>
    <center><h1 style="color:#DF5A09">SITE</h1></center>
</header>
<body>

<p>Olá,</p>
<p>Por favor, acesse o link abaixo para validação do seu e-mail</p>
<p>
    <a href="{{ confirmationUrl }}">Confirmar</a>
</p>

<p>Se você recebeu por engano esta mensagem, favor desconsiderar.</p>

</body>
<footer>
    <p>Esta mensagem foi gerada automáticamente, favor não responder</p>
    <p>SITE</p>
</footer>
</html>