<html>
<header>
    <center><h1 style="color:#DF5A09">SITE</h1></center>
</header>
<body>

<p>Olá,</p>
<h2>Sua senha foi atualizada com sucesso!</h2>
<p>senha atual</p>
<p>
    <h2>{{ confirmationUrl }}</h2>
</p>

<p>Se você recebeu por engano esta mensagem, favor desconsiderar.</p>

</body>
<footer>
    <p>Esta mensagem foi gerada automáticamente, favor não responder</p>
    <p>SITE</p>
</footer>
</html>
